API_PORT=8000

AMQP_USER=guest
AMQP_PASSWORD=guest
AMQP_HOST=localhost
AMQP_PORT=5672

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_MAX_RETRIES=3
PUBSUB_CHANNEL="messages:new"
